<!DOCTYPE html>
<html lang="it" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_head(metas, links)">
    <meta charset="UTF-8">
    <meta name="author" content="Giairo Mauro">
    <title>Items shop website</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <script type="application/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link th:href="@{/css/modals.css}" rel="stylesheet">
    <link th:href="@{/css/headers.css}" rel="stylesheet">

    <style>
        /* header style */
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <th:block th:replace="${metas}" />
    <th:block th:replace="${links}" />
</head>
<body>
    <header class="p-3 bg-dark text-white" th:fragment="common_header(other)">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img th:src="@{/logo.png}" alt="logo sito" id="logoHeader" class="bi me-2" width="40" height="40"
                         role="img" aria-label="logo">
                </a>

                <nav class="col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <ul class="nav">
                    <li><a th:href="@{/}" class="nav-link px-2 text-info">Home</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/item/new}" class="nav-link px-2 text-white">New Item</a></li>
                    <th:block th:replace="${other}"/>
                </ul>
                </nav>

                <form th:if="${isIndex == true}"  class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" id="searchInput" class="form-control form-control-dark" placeholder="Ricerca..." aria-label="Ricerca"
                            onkeyup="itemSearch()">
                </form>
                <div class="text-end">
                    <button role="button" type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal"
                            sec:authorize="!authenticated" aria-label="login">Log in</button>
                    <button role="button" type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#registerModal"
                            sec:authorize="!authenticated" aria-label="registrazione">Sign up</button>
                    <div sec:authorize="isAuthenticated()" sec:authentication="name" class="btn btn-light me-2"> username </div>
                    <a  th:href="@{/favorites}" sec:authorize="isAuthenticated()" class="btn btn-light me-2"> Favourites <span th:text="${#lists.size(favorites)}">number of avourites</span></a>
                    <a role="button" type="button" class="btn btn-danger" th:href="@{/logout}" sec:authorize="isAuthenticated()" aria-label="logout">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <div class="bg-dark" th:fragment="common_footer">
        <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
            <p class="col-md-4 mb-0 ms-5 text-white">&copy;Copyleft CC-by 2021 by Giairo Mauro</p>

            <a th:href="@{/}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img  width="40" height="40" th:src="@{/logo.png}" alt="logo sito" id="logoFooter" class="bi me-2"
                      role="img" aria-label="logo">
            </a>
        </footer>
    </div>
</body>
</html>